#formCreateTag {
  margin: 0 0 0 6rem;
}

/* For tablets: */
@media only screen and (min-width: 768px) {
  #formCreateTag {
    margin: 0 2rem 0 6rem;
  }
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
  #formCreateTag {
    margin: 0 5rem;
  }
}
