.placeManipulationItemContainer {
    border-radius: 16px;
    border: 1px solid #ccc;
}

.primedContainer{
    border-radius: 16px;
    border: 2px solid orange;
}

.primedButton{
    background-color: orange;
}