#deleteUserButton div a {
  background-color: #920000;
  border: 2px solid #920000;
}

#deleteUserButton div a:active {
  background-color: #1e1e1e;
}

#deleteUserButton div a:active span {
  color: #d60000;
}

#dashboardPanel li a:active .dashboardOptionDecorator {
  background-color: #1a1a1a;
}

.pouet {
  background-color: red;
}
