#formContainer {
  color: #1e1e1e;
  clear: both;
  padding: 0.2rem;
}

#formContainer h2 {
  text-align: center;
  color: #eb6700;
  font-size: 2rem;
}

#formContainer ul div label {
  color: #a32e00;
  font-size: 0.8rem;
  font-weight: 600;
}

#finalButtonContainer {
  text-align: center;
  margin: 1rem 0;
}

#finalButtonContainer button {
  background-color: #eb6700;
  border-radius: 20px;
  color: #ffffff;
}

#formContainer form {
  border: 1px solid #e4e4e4;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #e4e4e4;
}

#formContainer ul {
  margin-bottom: 2rem;
}

#formContainer li {
  margin-top: 1rem;
}

#formContainer input {
  width: 90%;
  border-radius: 2px;
  padding: 0.2rem;
  line-height: 2rem;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: #ffffff;
  color: #1e1e1e;
  border: 2px solid #e4e4e4;
  transition: 0.2s;
  outline: none;
  margin-top: 0.2rem;
}

#formContainer input:focus {
  border: 2px solid #eb6700;
}

#registerAlternative {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(167, 167, 167);
}

#registerAlternative::before,
#registerAlternative::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #e4e4e4;
}

#registerAlternative:not(:empty)::before {
  margin-right: 0.5rem;
}

#registerAlternative:not(:empty)::after {
  margin-left: 0.5rem;
}

#registerButtonContainer {
  text-align: center;
  margin: 1rem 0;
}

#registerButtonContainer button {
  background-color: #ffffff;
  color: #eb6700;
  border-radius: 20px;
  border: 2px solid #eb6700;
}

#captchaContainer {
  display: flex;
  place-content: center;
}
